@model LownSlow.Models.Food

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Food</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinCookTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinCookTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxCookTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxCookTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinCookTemp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinCookTemp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxCookTemp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxCookTemp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinFinishedTemp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinFinishedTemp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxFinishedTemp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxFinishedTemp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FoodId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
