@model IEnumerable<LownSlow.Models.Food>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinCookTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxCookTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinCookTemp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxCookTemp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinFinishedTemp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxFinishedTemp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinCookTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxCookTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinCookTemp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxCookTemp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinFinishedTemp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxFinishedTemp)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FoodId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FoodId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FoodId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
